boto==2.48.0
boto3==1.7.10
botocore==1.10.10
bz2file==0.98
certifi==2018.4.16
chardet==3.0.4
cloudpickle==0.5.2
dask==0.17.2
dask-glm==0.1.0
dask-ml==0.4.1
dask-searchcv==0.2.0
docutils==0.14
futures==3.2.0
gensim==3.4.0
idna==2.6
jmespath==0.9.3
multipledispatch==0.5.0
numpy==1.14.3
pandas==0.22.0
python-dateutil==2.7.2
pytz==2018.4
PyYAML==3.12
requests==2.18.4
s3transfer==0.1.13
scikit-learn==0.19.1
scipy==1.0.1
six==1.11.0
sklearn==0.0
smart-open==1.5.7
toolz==0.9.0
urllib3==1.24.2
